//стилизую постраничный вывод
.root {
  li {
    display: inline-block;
    //выделяю кнопку меняется при выборе
    a {
      text-align: center;
      width: 45px;
      height: 45px;
      line-height: 42px;
      border: 1px solid #f95615;
      border-radius: 30px;
      margin-right: 10px; //отступ справа
      cursor: pointer;
      display: inline-block;

      //при выборе кнопки страницы меняется цвет
      &:hover {
        background-color: #fe5f1e;
        color: rgb(205, 197, 197);
      }
    }
  }
}

:global {
    .selected {
      a {
        background-color: #fe5f1e;
        color: #fff;
      }
    }
  }