.root { //класс
    text-align: center;// всё по центру
    padding: 100px;// блок
    max-width: 750px;
    margin: 0 auto;
    span {
      font-size: 65px;
    }
  }
  .description {
    font-size: 22px;
  }