.root {
  position: relative; // чтобы иконка не выходила
  left: -120px; // прижать к логотипу
}

.input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 40px;
  width: 300px;
  border-radius: 10px;
  font-size: 16px;
  transition: all 0.15s ease-in-out; // раширяется поиск при вводе

  &:focus {
    border: 1px solid rgba(0, 0, 0, 0.2);
  }
}

.icon {
  width: 22px;
  height: 22px;
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 12px;
}

.clearIcon {
  width: 18px;
  height: 18px;
  opacity: 0.3;
  position: absolute; //внутри
  right: 15px;
  top: 15px;
  cursor: pointer;

//когда навожу на иконку крестик будет ярче и тусклеть
&:hover {
  opacity: 0.8;
}
}
  